<template>
  <div>
    <div class="p-grid">
      <div class="p-col-12 p-md-6 p-lg-6">
        <div class="img-construccion">
          <img
            alt="Img-construccion"
            src="../assets/images/web_development_.svg"
            class="imagen-responsive"
          />
        </div>
      </div>
      <div class="p-col-12 p-md-6 p-lg-6">
        <div class="encabezado">
          <h1>Sitio Web en Desarrollo</h1>
        <p>Muy pronto estaremos listos para ti, mientras tanto conoce sobre nuestras empresas aliadas.</p>
        </div>
        <div class="p-grid">
          <div class="p-col-12 p-md-6 p-lg-6 fondo">
            <div class="card">
                <div class="img-card">
                  <img src="../assets/images/Logo-Marfilbsc.png" alt="" class="imagen-responsive">
                </div>
              
                <h4>
                Software Contable y Administrativo para PYMES
                </h4> 
              <a href="http://marfilbsc.com/" target="_blank" rel="noopener noreferrer">
                <Button
                  label="Conocenos"
                  icon="pi pi-angle-double-right"
                  iconPos="right"
                  class="p-button-raised p-button-rounded p-button-sm p-button-secondary"
                />              
              </a>
              
            </div>
          </div>
          <div class="p-col-12 p-md-6 p-lg-6">
            <div class="card">
                <div class="img-card">
                  <img src="../assets/images/Logo-Sicon-Consultores.png" alt="" class="imagen-responsive">
                </div>
              
                <h4>
                Asesoría Integral y Estrategica Empresarial
                </h4> 
                <a href="http://www.siconconsultores.com/" target="_black">
                <Button
                  label="Conocenos"
                  icon="pi pi-angle-double-right"
                  iconPos="right"
                  class="p-button-raised p-button-rounded p-button-sm p-button-secondary"
                />

                </a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Button from "primevue/button";


export default {
  name: "HelloWorld",
  components: {
    Button,
    
  },
};
</script>

<style scoped lang="scss">

.encabezado{
  text-align: center;
  color: #fff;
}
.card{
  width: 90%;
  margin: auto;
  min-height: 350px;
  background-color: #fff;
  border-radius: 8px;
  padding: 15px 20px;
  box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.37);
}
.img-card{
  overflow: hidden;
  img{
    height: 200px;
    object-fit: contain;
  }
}
</style>
