@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");


html {
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.6;
  background-image: url(./images/bg-construccion.svg);
  background-position: center center;
  background-size: contain;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}


/*GLOBALES*/
h1, h2, h3, h4, h5{
    margin: 0;
    margin-bottom: 20px;
}
h1 {
  font-size: 36px;
  text-shadow: 1px 2px 3px rgba(59,57,80,.2);
}
h2 {
  font-size: 30px;  
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}


@media (max-width: 768px) {
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 24px;
  }
  h3{
    font-size: 18px;
  }
}
ul,
li {
  list-style: none;
}
a {
  transition: all 0.4s;
}

a,
a:hover {
  text-decoration: none;
}

/*UTILIDADES*/
.imagen-responsive {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
